# Haskell
dist/
dist-newstyle/
cabal.project.local
*.o
*.hi

# Stack
.stack-work/

# GHC
.packages/
.cache/

# Haddock
.hpc/
.haddock/

# Cabal
*.cabal.hi
*.cabal.i

# System
*.swp
*~

# Editors
.idea/
.vscode/
